*{
    margin: 0;
    padding: 0;
    font-family:cursive;

}

header{
    background-image: url(../background.jpg);
    height: 400vh;
  
    background-size:cover;
    background-position: center;
  background-attachment: fixed;
  
}



ul{
    position: fixed;
    float: right;
    margin-left: 675px;
    list-style-type: square;
    background-color: initial;
    top: 3.3%;
    background-attachment: fixed;
    font-size: 16px;
    
    font-weight: 100;
  
}

ul li{
    
    display: inline-block;
   
}
ul li a{
    text-decoration:none;
    color: #fff;
    padding: 5px 20px;
    
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #fff;
    color: black;

}

ul li.active a{

    background-color: #fff;
    color: black;
}
.logo img{
    float: left;
    left: 10px;
    width: 150px;
    height: auto;
}

.main{
    top: 0%;
    left: 0%;
    width: 1700px;
    height: 80px;
    background-color: black;
    position:fixed;
    background-attachment: fixed;
    
   
}

.Heading{
    font-family: cursive;
    font-size: 30px;
    color: white;
    margin-left: 200px;
    font-weight: 100;
    margin-top: 10px;
}

.title{
    font-size: 30px;
    position: absolute;
    top: 30%;
    left: 25%;
   
    
}

.content{
 
    position: absolute;
    top:60% ;
    left: 10%;
}

@media only screen and (max-width: 800px) {
    header{
        background-image: url(../background.jpg);
      
      height: 130vh;
        background-size: cover;
        background-position: center;
      background-attachment: fixed;
      
    }

    ul{
        position: fixed;
        float: right;
    font-family: cursive;
    font-size: 13px;
    color: white;
    margin-top: 40px;
    margin-left: 150px;
}

    

    .main{
        width: 1700px;
        height: 200px;
        background-color: black;
        position:fixed;
        
       
    }
    
    .logo img{
        float: left;
        left: 10px;
        width: 150px;
        height: auto;
        margin-top: 120px;
    
    }

    .Heading{
    
        font-family: cursive;
        font-size: 60px;
        color: white;
        margin-top: 10px;
        margin-left: 180px;
    }

    
    .title{
        font-size: 30px;
        position: absolute;
        top: 18%;
        left: 22%;
       
        
    }
    
    .content{
 
        position: absolute;
        top:30% ;
        left: 10%;
        
    
    }
    
}  
